/* ######### Body ######### */

body {
    margin: auto;
    background-color: black;
}

/* ######### Top bar ######### */

.top-bar {
    margin: auto 20%;
    width: 60vw;

    position: fixed;

    text-align: center;

    background-color: rgb(25, 20, 23, 0.8);
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

/* ######### Button ######### */

button {
    padding: 0.7rem;

    cursor: pointer;
    background: none;
    border: none;
    

    font-family: "Spirax", sans-serif;
    font-size: 3.25rem;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

/* ######### Pages ######### */
.page {
    margin: auto;
    height: 100vh;
    width: 60vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border-bottom: 1rem solid rgb(141, 0, 1);
}

#page-1 {
    background-image: url("assets/hot.jpg");
}

#page-2 {
    background-image: url("assets/juicy.jpg");
}

#page-3 {
    background-image: url("assets/cosy.jpg");
    border-bottom: 0rem;
}

/* ######### Page header ######### */

.page-header {
    display: flex;
    justify-content: center;

    margin: 0;
    padding-top: 19%;

    font-family: "Spirax", sans-serif;
    font-size: 6.5rem;
    color: #8D0001;
}

/* ######### Page body ######### */

.page-body {
    font-family: "Poiret One", sans-serif;
    color: white;
}

/* ######### Page bubble ######### */
.page-bubble {
    margin: 4%;
    padding: 1rem;

    background-color: rgb(141, 0, 1, 0.8);
    font-size: 1.5rem;

    text-align: center;
}

#bubble-1 {
    margin-left: 14%;
    margin-right: 29%;
}

#bubble-2 {
    margin-left: 29%;
    margin-right: 14%;
}

/* ######### Page information box ######### */
.page-information {
    margin-left: 23%;
    margin-right: 23%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    flex-direction: column;
    gap: 0rem;

    background-color: rgb(25, 20, 23, 0.8);
    font-size: 1.5rem;
}

.page-information-line {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content:space-between;
}

.page-information-text {
    margin: 0;
}