body {
    margin: auto;
    background-color: black;
}

.top-bar {
    background-color: rgb(25, 20, 23, 0.8);
    
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

button {
    padding: 1rem;

    cursor: pointer;
    background: none;
    border: none;

    font-family: "Spirax", sans-serif;
    font-size: xx-large;
    color: white;
}

/* ######### Page setup ######### */
.page {
    margin: auto;
    max-width: 962px;
    min-width: 300px;
    height: 661px;

    background-repeat: no-repeat;
    background-position: center center;
}

#page-1 {
    background-image: url("assets/hot.jpg");
}

#page-2 {
    background-image: url("assets/juicy.jpg");
}

#page-3 {
    background-image: url("assets/cosy.jpg");
}

.page-header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 16%;
    font-family: "Spirax", sans-serif;
    font-size: 5rem;
    color: #8D0001;
}

.page-body {
    font-family: "Poiret One", sans-serif;
    color: white;
}

.page-break {
    margin: auto;
    max-width: 962px;
    background-color: rgb(141, 0, 1);
    color: rgb(141, 0, 1);
}

/* ######### Page bubbles ######### */
.page-bubble {
    background-color: rgb(141, 0, 1, 0.8);
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
}

#bubble-1 {
    margin-left: 21%;
    margin-right: 25%;
}

#bubble-2 {
    margin-left: 30%;
    margin-right: 18%;
}

/* ######### Page information boxes ######### */
.page-information {
    margin-left: 23%;
    margin-right: 23%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: rgb(25, 20, 23, 0.8);
    font-size: 1rem;
}

.page-information-line {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
}

.page-information-text {
    margin: 0;
}