body {
    margin: 0;
}

.top-bar {
    background-color: #8D0001;
    background-color: rgb(81, 66, 74, 0.5);
    
}

.top-buttons {
    display: flex;
    font-family: "Spirax", sans-serif;
    font-size: xx-large;
    color: white;
    justify-content: center;
    gap: 4rem;
}

.page.header {
    font-family: "Spirax", sans-serif;
    font-size: xx-large;
}

.page-body {
    
}